# 2 Regression Methods

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/train.csv')

In [3]:
X = train.drop(['Unnamed: 0', 'isDuplicate'],axis=1)

In [14]:
X.head()

,price,location,distance,description,title,category,region,parentCategory
0,0.0,1,0.00000,1,1,1,1,1
1,0.1,1,0.00000,0,0,1,1,1
2,0.0,1,0.00000,0,0,1,1,1
3,0.0,1,9.65594,0,0,1,1,1
4,0.2,1,0.00000,0,0,1,1,1

In [4]:
y = train[['isDuplicate']]

In [15]:
y.head()

   isDuplicate
0            1
1            1
2            0
3            1
4            1

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

## 2.1 Logistic Regression

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
logmodel = LogisticRegression()

In [8]:
logmodel.fit(X_train,y_train)

/Users/jerry/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/jerry/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
predictions = logmodel.predict(X_test)

In [10]:
from sklearn.metrics import classification_report

In [11]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.60      0.96      0.74    514239
           1       0.63      0.11      0.18    360894

   micro avg       0.61      0.61      0.61    875133
   macro avg       0.61      0.53      0.46    875133
weighted avg       0.61      0.61      0.51    875133

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
confusion_matrix(y_test,predictions)

array([[491147,  23092],
       [322305,  38589]])

In [17]:
from sklearn import metrics
y_test0 = np.array(y_test['isDuplicate'])

fpr0, tpr0, thresholds0 = metrics.roc_curve(y_test0, predictions)
metrics.auc(fpr0, tpr0)

0.5310104717180499

The result of auc score is worse than using the random forest.

## 2.2 LDA

## 2.3 QDA

## 2.4 SVM