In [2]:
import numpy as np
import pandas as pd
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

Using TensorFlow backend.

## Model Training

In [3]:
# import and split data 
train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/train.csv')
X = train.drop(['Unnamed: 0', 'isDuplicate'],axis=1)
y = train[['isDuplicate']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

changing pandas dataframe to numpy array
X_train = X_train.to_numpy()
y_train = y_train.to_numpy()

X_test = X_test.to_numpy()
y_test = y_test.to_numpy()

normalizing the data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

X_test = sc.fit_transform(X_test)

In [4]:
X.head(20)

,price,location,distance,description,title,category,region,parentCategory
0,0.000000,1,0.000000,1.000000,1.000000,1,1,1
1,0.100000,1,0.000000,0.922315,0.977778,1,1,1
2,0.000000,1,0.000000,0.561137,0.981799,1,1,1
3,0.000000,1,9.655940,0.999173,0.788961,1,1,1
4,0.200000,1,0.000000,0.694822,0.360317,1,1,1
5,0.000000,1,0.000000,0.743597,0.643500,1,1,1
6,0.011236,1,0.000000,0.764363,1.000000,1,1,1
7,0.022472,1,0.000000,0.773353,1.000000,1,1,1
8,2.125000,1,0.000000,0.577432,0.000000,1,1,1
9,6.500000,1,0.000000,0.650572,0.901634,1,1,1
10,0.200000,1,0.000000,0.586209,0.995885,1,1,1
11,0.180000,1,0.000000,0.650987,0.994450,1,1,1
12,0.074074,1,0.000000,0.752665,0.684060,1,1,1
13,0.074074,1,0.000000,0.690134,0.640265,1,1,1
14,0.074074,0,0.260217,0.692758,0.624051,1,1,1
15,0.400000,1,0.000000,0.651127,0.462963,1,1,1
16,0.000000,1,0.000000,0.442644,0.499278,1,1,1
17,0.000000,1,17.108706,0.694986,0.962963,1,1,1
18,0.153846,1,0.000000,0.545102,1.000000,1,1,1
19,0.000000,1,0.000000,0.907920,0.843952,1,1,1

In [4]:
# nn model 
# the input is of 8 values and output is of 1 values. 
# So the input and output layer is of 8 and 1 dimensions respectively.
# Using two hidden layers of 20 and 12 dimension.
model = Sequential()
model.add(Dense(100, input_dim=8, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# opimization
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=[tf.keras.metrics.AUC()])

WARNING: Logging before flag parsing goes to stderr.
W0216 01:49:39.801743 4552973824 deprecation.py:323] From /Users/jerry/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [5]:
# model fit
nn_model = model.fit(X_train, y_train, epochs=3, batch_size=30)

W0216 01:49:40.083230 4552973824 deprecation_wrapper.py:119] From /Users/jerry/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/3
1776783/1776783 [==============================] - 51s 29us/step - loss: 0.6830 - auc: 0.4997
Epoch 2/3
1776783/1776783 [==============================] - 49s 28us/step - loss: 0.6777 - auc: 0.4997
Epoch 3/3
1776783/1776783 [==============================] - 48s 27us/step - loss: 0.6777 - auc: 0.4999

## Validation

In [8]:
y_pred = model.predict_proba(X_test)

In [9]:
fpr0, tpr0, thresholds0 = metrics.roc_curve(y_test, y_pred)
metrics.auc(fpr0, tpr0)

0.5000048570662543

0.721319936859123

## Prediction

In [110]:
test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/test.csv')
X1 = test.drop(['Unnamed: 0','index'],axis=1)
X1 = sc.fit_transform(X1)
y_pred1 = model.predict_proba(X1)

In [111]:
pred_test1 = y_pred1.flatten()

index = np.array(test['index'].astype(np.int))
pred_test2 = {'id':index,'probability':pred_test1}
pred_test3 = pd.DataFrame(pred_test2, columns =['id','probability'])

In [112]:
pred_test3.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/prediction_nn.csv',index=False)

kaggle score: 0.70288