In [1]:
import xgboost as xgb
import pandas as pd
import numpy as np

/Users/jerry/anaconda3/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
/Users/jerry/anaconda3/lib/python3.7/site-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [2]:
train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/train.csv')

In [5]:
train.head(5)

,Unnamed: 0,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon,generationMethod,isDuplicate,regionID,parentCategoryID
0,0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1.0,1.0,648070,1
1,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1.0,1.0,648070,1
2,2,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,1.0,1.0,637680,1
3,3,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,1.0,1.0,637680,1
4,4,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,1.0,0.0,640310,6

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7490050 entries, 0 to 7490049
Data columns (total 16 columns):
Unnamed: 0          int64
itemID              int64
categoryID          int64
title               object
description         object
images_array        object
attrsJSON           object
price               float64
locationID          int64
metroID             float64
lat                 float64
lon                 float64
generationMethod    float64
isDuplicate         float64
regionID            int64
parentCategoryID    int64
dtypes: float64(6), int64(6), object(4)
memory usage: 914.3+ MB

Classification Models: LDA, QDA, Logistic regression, SVM, Decision Trees, Random Forests, various forms of Boosting

# 1 Tree based methods

## 1.1 Decision Tree

In [42]:
#metroID有太多 missing data
train1 = train.drop(['Unnamed: 0', 'title', 'description', 'images_array', 'attrsJSON', 'generationMethod', 'metroID'], axis=1)

In [43]:
train2 = train1.dropna()

In [52]:
train2.head()

,itemID,categoryID,price,locationID,lat,lon,isDuplicate,regionID,parentCategoryID
0,1,81,300000.0,648140,64.686946,30.815924,1.0,648070,1
1,1,81,300000.0,648140,64.686946,30.815924,1.0,648070,1
2,3,14,300000.0,639040,55.678037,37.256548,1.0,637680,1
3,3,14,300000.0,639040,55.678037,37.256548,1.0,637680,1
4,4,84,3500.0,640650,56.239398,43.460458,0.0,640310,6

In [68]:
y = train2[['isDuplicate']]

In [69]:
X = train2.drop('isDuplicate',axis=1)

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [72]:
from sklearn.tree import DecisionTreeClassifier

In [73]:
dtree = DecisionTreeClassifier()

In [75]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [76]:
prediction = dtree.predict(X_test)

In [ ]:
prediction.head()

In [77]:
from sklearn.metrics import classification_report, confusion_matrix

In [78]:
print(confusion_matrix(y_test, prediction))

[[984317  64330]
 [106352 631953]]

In [79]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

         0.0       0.90      0.94      0.92   1048647
         1.0       0.91      0.86      0.88    738305

   micro avg       0.90      0.90      0.90   1786952
   macro avg       0.91      0.90      0.90   1786952
weighted avg       0.90      0.90      0.90   1786952

We have a pretty good prediction already for the decision tree with high precision.

## 1.2 Random Forest

In [80]:
from sklearn.ensemble import RandomForestClassifier

In [84]:
rfc = RandomForestClassifier(n_estimators = 30)

In [ ]:
rfc.fit(X_train, y_train)

/Users/jerry/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [ ]:
rfc_pred = rfc.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, rfc_pred))

In [ ]:
print(classification_report(y_test, rfc_pred))