In [165]:
import pandas as pd
import numpy as np
import xgboost as xgb

# Training Data

In [166]:
iteminfo_train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemInfo_train.csv')
itempairs_train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemPairs_train.csv')
location = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/Location.csv')
category = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/Category.csv')

In [180]:
location.head()

   locationID  regionID
0      621551    621550
1      621552    621550
2      621553    621550
3      621554    621550
4      621555    621550

In [182]:
category.head()

   categoryID  parentCategoryID
0           9                 1
1          10                 1
2          11                 1
3          14                 1
4          19                 2

In [179]:
iteminfo_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3344613 entries, 0 to 3344612
Data columns (total 11 columns):
itemID          int64
categoryID      int64
title           object
description     object
images_array    object
attrsJSON       object
price           float64
locationID      int64
metroID         float64
lat             float64
lon             float64
dtypes: float64(4), int64(3), object(4)
memory usage: 280.7+ MB

In [167]:
#用itemID 把 itempairs_train 合并到 iteminfo_train
itempairs_train1 = itempairs_train.merge(iteminfo_train,left_on='itemID_1', right_on='itemID', how='left')
itempairs_train2 = itempairs_train1.merge(iteminfo_train,left_on='itemID_2', right_on='itemID', how='left')

In [183]:
itempairs_train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2991396 entries, 0 to 2991395
Data columns (total 26 columns):
itemID_1            int64
itemID_2            int64
isDuplicate         int64
generationMethod    int64
itemID_x            int64
categoryID_x        int64
title_x             object
description_x       object
images_array_x      object
attrsJSON_x         object
price_x             float64
locationID_x        int64
metroID_x           float64
lat_x               float64
lon_x               float64
itemID_y            int64
categoryID_y        int64
title_y             object
description_y       object
images_array_y      object
attrsJSON_y         object
price_y             float64
locationID_y        int64
metroID_y           float64
lat_y               float64
lon_y               float64
dtypes: float64(8), int64(10), object(8)
memory usage: 616.2+ MB

In [169]:
itempairs_train3 = itempairs_train2.merge(location,left_on='locationID_x', right_on='locationID', how='left')
itempairs_train4 = itempairs_train3.merge(location,left_on='locationID_y', right_on='locationID', how='left')

itempairs_train5 = itempairs_train4.merge(category,left_on='categoryID_x', right_on='categoryID', how='left')
train = itempairs_train5.merge(category,left_on='categoryID_y', right_on='categoryID', how='left')

In [170]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2991396 entries, 0 to 2991395
Data columns (total 34 columns):
itemID_1              int64
itemID_2              int64
isDuplicate           int64
generationMethod      int64
itemID_x              int64
categoryID_x          int64
title_x               object
description_x         object
images_array_x        object
attrsJSON_x           object
price_x               float64
locationID_x          int64
metroID_x             float64
lat_x                 float64
lon_x                 float64
itemID_y              int64
categoryID_y          int64
title_y               object
description_y         object
images_array_y        object
attrsJSON_y           object
price_y               float64
locationID_y          int64
metroID_y             float64
lat_y                 float64
lon_y                 float64
locationID_x          int64
regionID_x            int64
locationID_y          int64
regionID_y            int64
categoryID_x          int64
parentCategoryID_x    int64
categoryID_y          int64
parentCategoryID_y    int64
dtypes: float64(8), int64(18), object(8)
memory usage: 798.8+ MB

train.columns

In [171]:
train.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/train.csv')

# Testing Data

In [172]:
itempairs_test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemPairs_test.csv')

In [173]:
iteminfo_test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemInfo_test.csv')

In [174]:
#用itemID 把 itempairs_train 合并到 iteminfo_train

itempairs_test1 = itempairs_test.merge(iteminfo_test,left_on='itemID_1', right_on='itemID', how='left')
itempairs_test2 = itempairs_test1.merge(iteminfo_test,left_on='itemID_2', right_on='itemID', how='left')

In [175]:
#把location和category合并过来

itempairs_test3 = itempairs_test2.merge(location,left_on='locationID_x', right_on='locationID', how='left')
itempairs_test4 = itempairs_test3.merge(location,left_on='locationID_y', right_on='locationID', how='left')

itempairs_test5 = itempairs_test4.merge(category,left_on='categoryID_x', right_on='categoryID', how='left')
test = itempairs_test5.merge(category,left_on='categoryID_y', right_on='categoryID', how='left')

In [176]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044196 entries, 0 to 1044195
Data columns (total 33 columns):
id                    1044196 non-null int64
itemID_1              1044196 non-null int64
itemID_2              1044196 non-null int64
itemID_x              1044196 non-null int64
categoryID_x          1044196 non-null int64
title_x               1044194 non-null object
description_x         1044171 non-null object
images_array_x        926463 non-null object
attrsJSON_x           1005706 non-null object
price_x               914825 non-null float64
locationID_x          1044196 non-null int64
metroID_x             303388 non-null float64
lat_x                 1044196 non-null float64
lon_x                 1044196 non-null float64
itemID_y              1044196 non-null int64
categoryID_y          1044196 non-null int64
title_y               1044196 non-null object
description_y         1044172 non-null object
images_array_y        926222 non-null object
attrsJSON_y           1005706 non-null object
price_y               914496 non-null float64
locationID_y          1044196 non-null int64
metroID_y             304081 non-null float64
lat_y                 1044196 non-null float64
lon_y                 1044196 non-null float64
locationID_x          1044196 non-null int64
regionID_x            1044196 non-null int64
locationID_y          1044196 non-null int64
regionID_y            1044196 non-null int64
categoryID_x          1044196 non-null int64
parentCategoryID_x    1044196 non-null int64
categoryID_y          1044196 non-null int64
parentCategoryID_y    1044196 non-null int64
dtypes: float64(8), int64(17), object(8)
memory usage: 270.9+ MB

In [177]:
test.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/test.csv')