In [3]:
import pandas as pd
import numpy as np

# Training Data

In [4]:
iteminfo_train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemInfo_train.csv')
itempairs_train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemPairs_train.csv')
location = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/Location.csv')
category = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/Category.csv')

In [4]:
iteminfo_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3344613 entries, 0 to 3344612
Data columns (total 11 columns):
itemID          int64
categoryID      int64
title           object
description     object
images_array    object
attrsJSON       object
price           float64
locationID      int64
metroID         float64
lat             float64
lon             float64
dtypes: float64(4), int64(3), object(4)
memory usage: 280.7+ MB

In [5]:
#用itemID 把 itempairs_train 合并到 iteminfo_train
itempairs_train1 = itempairs_train.merge(iteminfo_train,left_on='itemID_1', right_on='itemID', how='left')
itempairs_train2 = itempairs_train1.merge(iteminfo_train,left_on='itemID_2', right_on='itemID', how='left')

KeyboardInterrupt:

In [6]:
itempairs_train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2991396 entries, 0 to 2991395
Data columns (total 26 columns):
itemID_1            int64
itemID_2            int64
isDuplicate         int64
generationMethod    int64
itemID_x            int64
categoryID_x        int64
title_x             object
description_x       object
images_array_x      object
attrsJSON_x         object
price_x             float64
locationID_x        int64
metroID_x           float64
lat_x               float64
lon_x               float64
itemID_y            int64
categoryID_y        int64
title_y             object
description_y       object
images_array_y      object
attrsJSON_y         object
price_y             float64
locationID_y        int64
metroID_y           float64
lat_y               float64
lon_y               float64
dtypes: float64(8), int64(10), object(8)
memory usage: 616.2+ MB

In [ ]:
itempairs_train3 = itempairs_train2.merge(location,left_on='locationID_x', right_on='locationID', how='left')
itempairs_train4 = itempairs_train3.merge(location,left_on='locationID_y', right_on='locationID', how='left')

itempairs_train5 = itempairs_train4.merge(category,left_on='categoryID_x', right_on='categoryID', how='left')
train = itempairs_train5.merge(category,left_on='categoryID_y', right_on='categoryID', how='left')

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2991396 entries, 0 to 2991395
Data columns (total 34 columns):
itemID_1              int64
itemID_2              int64
isDuplicate           int64
generationMethod      int64
itemID_x              int64
categoryID_x          int64
title_x               object
description_x         object
images_array_x        object
attrsJSON_x           object
price_x               float64
locationID_x          int64
metroID_x             float64
lat_x                 float64
lon_x                 float64
itemID_y              int64
categoryID_y          int64
title_y               object
description_y         object
images_array_y        object
attrsJSON_y           object
price_y               float64
locationID_y          int64
metroID_y             float64
lat_y                 float64
lon_y                 float64
locationID_x          int64
regionID_x            int64
locationID_y          int64
regionID_y            int64
categoryID_x          int64
parentCategoryID_x    int64
categoryID_y          int64
parentCategoryID_y    int64
dtypes: float64(8), int64(18), object(8)
memory usage: 798.8+ MB

In [9]:
train.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/t.csv')

In [6]:
train = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/t.csv')

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991396 entries, 0 to 2991395
Data columns (total 35 columns):
Unnamed: 0            int64
itemID_1              int64
itemID_2              int64
isDuplicate           int64
generationMethod      int64
itemID_x              int64
categoryID_x          int64
title_x               object
description_x         object
images_array_x        object
attrsJSON_x           object
price_x               float64
locationID_x          int64
metroID_x             float64
lat_x                 float64
lon_x                 float64
itemID_y              int64
categoryID_y          int64
title_y               object
description_y         object
images_array_y        object
attrsJSON_y           object
price_y               float64
locationID_y          int64
metroID_y             float64
lat_y                 float64
lon_y                 float64
locationID_x.1        int64
regionID_x            int64
locationID_y.1        int64
regionID_y            int64
categoryID_x.1        int64
parentCategoryID_x    int64
categoryID_y.1        int64
parentCategoryID_y    int64
dtypes: float64(8), int64(19), object(8)
memory usage: 798.8+ MB

In [12]:
train.head(5)

,Unnamed: 0,itemID_1,itemID_2,isDuplicate,generationMethod,itemID_x,categoryID_x,title_x,description_x,images_array_x,...,lat_y,lon_y,locationID_x.1,regionID_x,locationID_y.1,regionID_y,categoryID_x.1,parentCategoryID_x,categoryID_y.1,parentCategoryID_y
0,0,1,4112648,1,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265",...,64.686946,30.815924,648140,648070,648140,648070,81,1,81,1
1,1,3,1991275,1,1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877",...,55.678037,37.256548,639040,637680,639040,637680,14,1,14,1
2,2,4,1223296,0,1,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021",...,56.239398,43.460458,640650,640310,640650,640310,84,6,84,6
3,3,7,1058851,1,1,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,...,56.135459,47.235484,662210,662000,662210,662000,84,6,84,6
4,4,8,2161930,1,1,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310",...,55.777170,37.586194,624360,624300,624360,624300,39,7,39,7

Avito.ru is a Russian classified advertisements website with sections devoted to general goods for sale, jobs, real estate, personals, cars for sale, and services.

So the descriptions and titles are in russian.

In [13]:
train[['description_x','description_y']].head(20)

,description_x,description_y
0,Продам Камаз 6520 20 тонн,Продам Камаз 6520 20 тонн
1,Весь в тюнинге.,Весь в тюнинге. Возможен торг
2,"Телефон в хорошем состоянии, трещин и сколов н...","В отличном состоянии, в комплекте зарядник и к..."
3,"Отличный подарок на новый год от ""китайской ap...","Отличный подарок на новый год от ""китайской ap..."
4,"Лыжные ботинки в хорошем состоянии, 34 размер","Ботинки 34 размер, в хорошем состоянии"
5,"сноубордические ботинки Nitro Team\nразмер 42,...","ботинки Nitro Team\nразмер 42,5\n28см, 10 us\n..."
6,Машина новая пробег реальный. Не битая не краш...,Машина как новая. Комплектация максимальная- п...
7,Машина новая пробег реальный. Не битая не краш...,Машина в идеальном состояний. Не битая не краш...
8,"Телевизоры кинескопные, диагональ от 37 см. до...",Кинескопный. Отличное состояние. Великолепное ...
9,"качественная, производство Казань, хорошее сос...","в отличном состоянии, можно мерить с 48 по 52 ..."
10,Распродаем остатки. Все модели хиты продаж!!! ...,Хит продаж!! У нас самые низкие цены !!! 6000 ...
11,Распродаем остатки. Все модели хиты продаж!!! ...,У нас самые дешёвые цены! У всех магазинов от ...
12,"Девушки!\nПродаю новые, белоснежные свадебные ...","Девочки!\nПродаем новое, облегающее свадебное ..."
13,"Девушки!\nПродаю новые, белоснежные свадебные ...",Новое свадебное платье изготовлено по эскизу п...
14,"Девушки!\nПродаю новые, белоснежные свадебные ...","Девочки!\nУ нас в наличии новое, удивительно к..."
15,Продам 2 пары. Экко 23р.по стельке 14см.капика...,Продам.25р.15см по стельке
16,"Продаю вечерние, красивые туфли. Идеально подо...",Туфли даром. 39-40 р-р
17,☀️✈️✈️🌴ВЬЕТНАМ ✈11 февраля на 11 дней\nот 4150...,✈️✈️✈️✈️ВЬЕТНАМ! !😱😱😱\n✈вылет 11 февраля на 11...
18,☀️✈️✈️🌴ВЬЕТНАМ ✈11 февраля на 11 дней\nот 4150...,"🌱ВЬЕТНАМ, НЯЧАНГ🌱\n✈вылет 31 января на 11 дней..."
19,Полупальто Sela.,Продам полупальто sela б/у р-р М.

In [14]:
train[['title_x','title_y']].head(20)

,title_x,title_y
0,Продам Камаз 6520,Продам Камаз 6520
1,Yamaha r6,Yamaha R6
2,iPhone 3gs 8gb,iPhone 3gs 32gb
3,Xiaomi Mi4 3гб RAM + 16гб ROM белый,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый
4,Лыжные ботинки,Ботинки для лыж
5,Сноуборд ботинки Nitro Team 10 us,Сноубордические ботинки
6,"LADA Priora, 2015","LADA Priora, 2015"
7,"LADA Priora, 2015","LADA Priora, 2015"
8,Телевизор,Panasonic 72 см. 100Hz
9,Шуба мутоновая,Шуба норковая
10,Массажная накидка Beurer mg,Массажная накидка Beurer
11,Массажная накидка Beurer mg,Массажная накидка Beurer mg 158
12,Новые. Белоснежные. Идеальное качество,"Новое, облегающее, кружевное платье"
13,Новые. Белоснежные. Идеальное качество,"Новое, белоснежное, нежное кружево"
14,Новые. Белоснежные. Идеальное качество,Новое. Бархатный фатин айвори
15,2 пары обуви,Ботиночки
16,Продаю вечерние туфли,Туфли даром
17,Вьетнам,Vietnam
18,Вьетнам,Vietnam
19,Полупальто,Полупальто sela

In [32]:
""" 
# cannot be used due to failure in installing package: pyemd

import gensim.downloader as api
import nltk
# can use Word Mover’s Distance to calculate the distance between the two 
# since these are product title and descriptions, usually not many stopword

model = api.load('word2vec-ruscorpora-300')

#tokenization
train['tokenized_description_x'] = train_test.apply(lambda row: 
                                               nltk.word_tokenize(row['description_x'], language= 'russian')
                                               if(np.all(pd.notnull(row['description_x']))) else row['description_x']
                                               , axis=1)

train['tokenized_description_y'] = train_test.apply(lambda row: 
                                               nltk.word_tokenize(row['description_y'], language= 'russian')
                                               if(np.all(pd.notnull(row['description_y']))) else row['description_y']
                                               , axis=1)

def calculate_similarity_distance(sentence_1, sentence_2):
    distance = model.wmdistance(sentence_1, sentence_2)
    return distance
train['wm_distance'] = train_test.apply(lambda row: 
                                               calculate_similarity_distance(row['tokenized_description_x'],row['tokenized_description_y'])
                                               if(np.all(pd.notnull(row['description_x']))) else row['description_x']
                                               , axis=1)
"""

" \nimport gensim.downloader as api\nimport nltk\n# can use Word Mover’s Distance to calculate the distance between the two \n# since these are product title and descriptions, usually not many stopword\n\nmodel = api.load('word2vec-ruscorpora-300')\n\n#tokenization\ntrain['tokenized_description_x'] = train_test.apply(lambda row: \n                                               nltk.word_tokenize(row['description_x'], language= 'russian')\n                                               if(np.all(pd.notnull(row['description_x']))) else row['description_x']\n                                               , axis=1)\n\ntrain['tokenized_description_y'] = train_test.apply(lambda row: \n                                               nltk.word_tokenize(row['description_y'], language= 'russian')\n                                               if(np.all(pd.notnull(row['description_y']))) else row['description_y']\n                                               , axis=1)\n\ndef calculate_similarity_distance(sentence_1, sentence_2):\n    distance = model.wmdistance(sentence_1, sentence_2)\n    return distance\ntrain['wm_distance'] = train_test.apply(lambda row: \n                                               calculate_similarity_distance(row['tokenized_description_x'],row['tokenized_description_y'])\n                                               if(np.all(pd.notnull(row['description_x']))) else row['description_x']\n                                               , axis=1)\n"

In [15]:
#description和title的数据 需要改成similarity的百分比
import pandas as pd
from similarity.jarowinkler import JaroWinkler
# from similarity.cosine import Cosine

#trainx = train.head(200)
jarowinkler = JaroWinkler()
train["jarowinkler_sim_title"] = [jarowinkler.similarity(str(i),str(j)) for i,j in zip(train["title_x"],train["title_y"])]
train["jarowinkler_sim_description"] = [jarowinkler.similarity(str(i),str(j)) for i,j in zip(train["description_x"],train["description_y"])]

In [16]:
train.head(20)

,Unnamed: 0,itemID_1,itemID_2,isDuplicate,generationMethod,itemID_x,categoryID_x,title_x,description_x,images_array_x,...,locationID_x.1,regionID_x,locationID_y.1,regionID_y,categoryID_x.1,parentCategoryID_x,categoryID_y.1,parentCategoryID_y,jarowinkler_sim_title,jarowinkler_sim_description
0,0,1,4112648,1,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265",...,648140,648070,648140,648070,81,1,81,1,1.000000,1.000000
1,1,3,1991275,1,1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877",...,639040,637680,639040,637680,14,1,14,1,0.977778,0.922315
2,2,4,1223296,0,1,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021",...,640650,640310,640650,640310,84,6,84,6,0.981799,0.561137
3,3,7,1058851,1,1,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,...,662210,662000,662210,662000,84,6,84,6,0.788961,0.999173
4,4,8,2161930,1,1,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310",...,624360,624300,624360,624300,39,7,39,7,0.360317,0.694822
5,5,9,694103,1,1,9,39,Сноуборд ботинки Nitro Team 10 us,"сноубордические ботинки Nitro Team\nразмер 42,...","12418395, 9930491",...,644200,643700,644200,643700,39,7,39,7,0.643500,0.743597
6,6,12,5637025,0,1,12,9,"LADA Priora, 2015",Машина новая пробег реальный. Не битая не краш...,"1338189, 1648456, 6321889, 9883716",...,631060,630750,631060,630750,9,1,9,1,1.000000,0.764363
7,7,12,5279740,0,1,12,9,"LADA Priora, 2015",Машина новая пробег реальный. Не битая не краш...,"1338189, 1648456, 6321889, 9883716",...,631060,630750,631060,630750,9,1,9,1,1.000000,0.773353
8,8,15,113701,0,1,15,32,Телевизор,"Телевизоры кинескопные, диагональ от 37 см. до...","11244051, 14467554, 2240467, 5099565, 8002433",...,662810,662530,662810,662530,32,6,32,6,0.000000,0.577432
9,9,16,2467698,0,1,16,27,Шуба мутоновая,"качественная, производство Казань, хорошее сос...","11762574, 316289, 4015142",...,657600,657310,657600,657310,27,5,27,5,0.901634,0.650572
10,10,19,4538621,0,1,19,88,Массажная накидка Beurer mg,Распродаем остатки. Все модели хиты продаж!!! ...,9722988,...,637640,637640,637640,637640,88,5,88,5,0.995885,0.586209
11,11,19,380482,1,1,19,88,Массажная накидка Beurer mg,Распродаем остатки. Все модели хиты продаж!!! ...,9722988,...,637640,637640,637640,637640,88,5,88,5,0.994450,0.650987
12,12,20,3737377,0,1,20,27,Новые. Белоснежные. Идеальное качество,"Девушки!\nПродаю новые, белоснежные свадебные ...",14016223,...,661130,660710,661130,660710,27,5,27,5,0.684060,0.752665
13,13,20,4117359,0,1,20,27,Новые. Белоснежные. Идеальное качество,"Девушки!\nПродаю новые, белоснежные свадебные ...",14016223,...,661130,660710,661130,660710,27,5,27,5,0.640265,0.690134
14,14,20,2338340,0,1,20,27,Новые. Белоснежные. Идеальное качество,"Девушки!\nПродаю новые, белоснежные свадебные ...",14016223,...,661130,660710,660930,660710,27,5,27,5,0.624051,0.692758
15,15,21,3276771,1,1,21,29,2 пары обуви,Продам 2 пары. Экко 23р.по стельке 14см.капика...,"13433945, 9055995",...,662460,662330,662460,662330,29,5,29,5,0.462963,0.651127
16,16,22,2719041,1,1,22,27,Продаю вечерние туфли,"Продаю вечерние, красивые туфли. Идеально подо...","10932865, 11921113, 4133001, 6008500, 7754702",...,635860,635730,635860,635730,27,5,27,5,0.499278,0.442644
17,17,26,3226871,1,1,26,33,Вьетнам,☀️✈️✈️🌴ВЬЕТНАМ ✈11 февраля на 11 дней\nот 4150...,12865792,...,646600,645790,646600,645790,33,7,33,7,0.000000,0.725898
18,18,26,3913671,0,1,26,33,Вьетнам,☀️✈️✈️🌴ВЬЕТНАМ ✈11 февраля на 11 дней\nот 4150...,12865792,...,646600,645790,646600,645790,33,7,33,7,0.000000,0.513907
19,19,28,1356437,1,1,28,27,Полупальто,Полупальто Sela.,1982783,...,630090,629990,630090,629990,27,5,27,5,0.962963,0.694986

In [17]:
#去掉 重复多余的column

train1 = train.drop(['locationID_x.1','locationID_y.1','categoryID_x.1','categoryID_y.1'],axis = 1)

#metroID有太多 missing data
#title, attrsJSON, description 不是英文
#images 暂时不用
#item id 重复了 
train2 = train1.drop(['Unnamed: 0',  'images_array_x',
                      'images_array_y', 'attrsJSON_x', 'attrsJSON_y', 'generationMethod', 'metroID_x', 
                      'metroID_y','itemID_x', 'itemID_y'], axis=1)
#数据多 所以简单粗暴去掉 NULL
train3 = train2.dropna()

import math 

y = train3.isDuplicate

#price diff 取price小的item的百分比
price = abs(train3.price_x - train3.price_y)/train3[["price_x", "price_y"]].min(axis=1)

#看是不是相同
samelocation = 1*(train3.locationID_x == train3.locationID_y)
description = train3["jarowinkler_sim_description"]
title = train3["jarowinkler_sim_title"]
samecategory = 1*(train3.categoryID_x == train3.categoryID_y)
region = 1*(train3.regionID_x == train3.regionID_y)
parentCategory = 1*(train3.parentCategoryID_x == train3.parentCategoryID_y)

#把lat lon当做x y 坐标，计算distance
lat = abs(train3.lat_x - train3.lat_y)
lon = abs(train3.lon_x - train3.lon_y)
distance = (lat**2 + lon**2)**(.5)


d = {'isDuplicate': y, 'price': price, 'location': samelocation, 
     'distance':distance,
     'description':description, 'title':title, 
     'category': samecategory, 'region': region, 'parentCategory': parentCategory}
X = pd.DataFrame(data=d)

In [18]:
X.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/train.csv')

# Testing Data

In [19]:
itempairs_test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemPairs_test.csv')

In [20]:
iteminfo_test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/ItemInfo_test.csv')

In [21]:
#用itemID 把 itempairs_train 合并到 iteminfo_train

itempairs_test1 = itempairs_test.merge(iteminfo_test,left_on='itemID_1', right_on='itemID', how='left')
itempairs_test2 = itempairs_test1.merge(iteminfo_test,left_on='itemID_2', right_on='itemID', how='left')

In [22]:
#把location和category合并过来

itempairs_test3 = itempairs_test2.merge(location,left_on='locationID_x', right_on='locationID', how='left')
itempairs_test4 = itempairs_test3.merge(location,left_on='locationID_y', right_on='locationID', how='left')

itempairs_test5 = itempairs_test4.merge(category,left_on='categoryID_x', right_on='categoryID', how='left')
test = itempairs_test5.merge(category,left_on='categoryID_y', right_on='categoryID', how='left')

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044196 entries, 0 to 1044195
Data columns (total 33 columns):
id                    1044196 non-null int64
itemID_1              1044196 non-null int64
itemID_2              1044196 non-null int64
itemID_x              1044196 non-null int64
categoryID_x          1044196 non-null int64
title_x               1044194 non-null object
description_x         1044171 non-null object
images_array_x        926463 non-null object
attrsJSON_x           1005706 non-null object
price_x               914825 non-null float64
locationID_x          1044196 non-null int64
metroID_x             303388 non-null float64
lat_x                 1044196 non-null float64
lon_x                 1044196 non-null float64
itemID_y              1044196 non-null int64
categoryID_y          1044196 non-null int64
title_y               1044196 non-null object
description_y         1044172 non-null object
images_array_y        926222 non-null object
attrsJSON_y           1005706 non-null object
price_y               914496 non-null float64
locationID_y          1044196 non-null int64
metroID_y             304081 non-null float64
lat_y                 1044196 non-null float64
lon_y                 1044196 non-null float64
locationID_x          1044196 non-null int64
regionID_x            1044196 non-null int64
locationID_y          1044196 non-null int64
regionID_y            1044196 non-null int64
categoryID_x          1044196 non-null int64
parentCategoryID_x    1044196 non-null int64
categoryID_y          1044196 non-null int64
parentCategoryID_y    1044196 non-null int64
dtypes: float64(8), int64(17), object(8)
memory usage: 270.9+ MB

In [24]:
test.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/te.csv')

In [25]:
test = pd.read_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/te.csv')

In [26]:
#和train一样的过程
test["jarowinkler_sim_title"] = [jarowinkler.similarity(str(i),str(j)) for i,j in zip(test["title_x"],test["title_y"])]
test["jarowinkler_sim_description"] = [jarowinkler.similarity(str(i),str(j)) for i,j in zip(test["description_x"],test["description_y"])]

test1 = test.drop(['locationID_x.1','locationID_y.1','categoryID_x.1','categoryID_y.1'],axis = 1)
test2 = test1.drop(['Unnamed: 0','images_array_x',
                      'images_array_y', 'attrsJSON_x', 'attrsJSON_y', 'metroID_x', 
                      'metroID_y','itemID_x', 'itemID_y'], axis=1)

price1 = abs(test2.price_x - test2.price_y)/test2[["price_x", "price_y"]].min(axis=1)
samelocation1 = 1*(test2.locationID_x == test2.locationID_y)

price1.fillna(price1.mean(), inplace=True) #data imputation using mean value

lat1 = abs(test2.lat_x - test2.lat_y)
lon1 = abs(test2.lon_x - test2.lon_y)
distance1 = (lat1**2 + lon1**2)**(.5)

description1 = test2["jarowinkler_sim_description"]
title1 = test2["jarowinkler_sim_title"] 
samecategory1 = 1*(test2.categoryID_x == test2.categoryID_y)
region1 = 1*(test2.regionID_x == test2.regionID_y)
parentCategory1 = 1*(test2.parentCategoryID_x == test2.parentCategoryID_y)

index = np.array(test2['id'].astype(np.int))

d1 = {'index':index, 'price': price1, 'location': samelocation1, 
     'distance':distance1,
     'description':description1, 'title':title1, 
     'category': samecategory1, 'region': region1, 'parentCategory': parentCategory1}
X1 = pd.DataFrame(data=d1)

In [27]:
X1.to_csv('/Users/jerry/Desktop/udemy courses/Kaggle数据分析/Avito Duplicate Ads Detection/test.csv')